<!DOCTYPE html>
<html>
    <head>
        <title>Docker test!</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <ul >
            <li><a href="/">Index</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/createuser">Create user</a></li>
            <li><a href="/redisget/test">Redis get</a></li>
            <li><a href="/redisset">Redis set</a></li>
        </ul>
        <form method="post">
            <label for="key">Key</label>
            <input type="text" name="key" id="key" value=""><br>
            <label for="value">Value</label>
            <input type="text" name="value" id="value" value=""><br>
            <input type="submit" value="Submit"><br>
        </form>
    </body>
</html>